
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Add a client</h1>
        <p class="lead">Run the following command on your client machine to add a client to this server.</p>
        <code>
            sudo apt install dotnet7
            sudo dotnet tool install Aiursoft.StatHub.Client --tool-path /opt/stathub-client || sudo dotnet tool update Aiursoft.StatHub.Client --tool-path /opt/stathub-client
            echo "[Unit]
            Description=Stathub Client
            After=network.target
            Wants=network.target
            
            [Service]
            Type=simple
            User=root
            ExecStart=/opt/stathub-client/stathub-client -s http://monitoring:48466
            WorkingDirectory=/opt/stathub-client
            Restart=always
            RestartSec=10
            KillSignal=SIGINT
            Environment=\"ASPNETCORE_ENVIRONMENT=Production\"
            Environment=\"DOTNET_PRINT_TELEMETRY_MESSAGE=false\"
            Environment=\"DOTNET_CLI_TELEMETRY_OPTOUT=1\"
            Environment=\"ASPNETCORE_FORWARDEDHEADERS_ENABLED=true\"
            
            [Install]
            WantedBy=multi-user.target" | sudo tee /etc/systemd/system/stathub.service
            sudo systemctl daemon-reload
            sudo systemctl enable stathub.service
            sudo systemctl stop stathub.service > /dev/null 2>&1
            sudo systemctl start stathub.service
        </code>
    </div>
</div>

