
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Add a client</h1>
        <p class="lead">Run the following command on your client machine to add a client to this server.</p>
        <pre class="rich-diff-level-zero p-3">curl -sL @Context.Request.Scheme://@Context.Request.Host/install.sh | sudo bash</pre>
    </div>
</div>

