
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Add a client</h1>
        <p class="lead">Run the following command on your client machine to add a client to this server.</p>
        <p class="text-muted">Latest client version: <a rel="nofollow noreferrer noopener" href="https://www.nuget.org/packages/Aiursoft.StatHub.Client/" target="_blank"><img class="js-lazy-loaded" decoding="async" alt="NuGet version (Aiursoft.StatHub.Client)" src="https://img.shields.io/nuget/v/Aiursoft.StatHub.Client.svg" loading="lazy" data-testid="js-lazy-loaded-content"></a></p>
        <p class="text-muted">Current server version: <span class="badge badge-primary">@Aiursoft.StatHub.SDK.Extensions.GetSdkVersion()</span></p>
        <pre class="rich-diff-level-zero p-3">curl -sL @Context.Request.Scheme://@Context.Request.Host/install.sh | sudo bash</pre>
    </div>
</div>

