@model Aiursoft.StatHub.SDK.Models.Client

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Checking client: @Model.Hostname</h1>
        <p class="lead">View detailed metrics of this client.</p>
    </div>
</div>