<!DOCTYPE HTML>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <title>StatHub - Aiursoft</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/node_modules/@@aiursoft/autodark.js/dist/css/autodark.min.css" />
    <link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/style.css" />
</head>

<body class="d-flex flex-column h-100 pt-5">
    <nav class="navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="https://www.aiursoft.cn">
                Aiursoft
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-server"></i>
                            Clients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="AddClient">
                            <i class="fa-regular fa-square-plus"></i>
                            Add
                        </a>
                    </li>
                </ul>
                <div class="form-inline">
                    <ul class="navbar-nav mr-auto">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li>
                                <a class="nav-link" href="/">
                                    <i class="fa-solid fa-user"></i>
                                    Welcome, @User.Identity?.Name!
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="https://gitlab.aiursoft.com/aiursoft/stathub">
                                <i class="fab fa-gitlab"></i>
                                View on GitLab
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()

    <footer class="footer mt-auto py-3">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Aiursoft.StatHub - <a
                href="https://gitlab.aiursoft.com/aiursoft/stathub">GitLab</a>
        </div>
    </footer>

    @* Traditional JavaScript *@
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            // Disable search, per page 30:
            $('.datatable').DataTable({
                "paging": true,
                "pageLength": 25,
                "searching": false,
                "info": false,
                "order": [[0, "asc"]],
                "drawCallback": function () {
                    $('[data-toggle="tooltip"]').tooltip({
                        trigger: 'hover'
                    });
                }
            });

            // Activate tooltip tool
            $('[data-toggle="tooltip"]').tooltip({
                trigger: 'hover'
            });
        });
    </script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @* ES Module *@
    <script type="module">
        import { autoTheme } from '/node_modules/@@aiursoft/autodark.js/dist/esm/autodark.js';
        import UtcTime from '/node_modules/@@aiursoft/utctime.js/dist/esm/utctime.js';

        autoTheme();

        new UtcTime({
            onSet: function(element) {
                $(element).tooltip();
            }
        });
    </script>
    @(await RenderSectionAsync("scripts", false))
</body>

</html>
